.register-container {
    max-width: 400px;
    margin: auto;
    padding: 1em;
    background: #f9f9f9;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  form div {
    margin-bottom: 15px;
  }
  
  label {
    margin-bottom: 5px;
    display: block;
  }
  
  input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
  }
  
  span {
    color: red;
    font-size: 0.8em;
  }
  
  button {
    padding: 10px 15px;
    background: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background: #0056b3;
  }
  
  /* App.css */

/* Style for the split area */
.split .gutter {
  background-color: transparent;
  cursor: col-resize; /* Change cursor to indicate resizing */
}

.split .gutter:hover {
  background-color: blue; /* Change background color on hover */
}

/*  */
